<footer>
  <h6> LightEats is a midterm project for Lighthouselabs </h6>
  <h6> November 22, 2021 Cohort </h6>
  <div id = "names">
    <p id = "name1">Allen Z</p>
    <p id = "name2">Simarjeet K</p>
    <a id = "name3" href="https://github.com/Sudoyulo" >Kevin Y</a>
  </div>
</footer>
