
<header>
  <nav>
    <div id="logo">
      <a href="/">
        <h1 id = "logo-light-eats">
          <p id = "logo-light">Light</p>
          <p id = "logo-eats">Eats</p>
        </h1>
      </a>
    </div>

    <div id="login-buttons-container">
      <% if (user) { %>
        <button><%= (user.name) ? user.name : "Owner" %></button>
        <div class="logout-button">
          <form action="/logout/" method="GET">
            <button type="submit" class="logout-btn">Logout</button>
          </form>
        </div>
      <% } else if (rest_id) { %>
        <p>Welcome lightEats</p>
        <div class="logout-button">
          <form action="/logout/" method="GET">
            <button type="submit" class="logout-btn">Logout</button>
          </form>
        </div>
      <% }  else { %>
      <div class="login-buttons">
        <form action="/login/users" method="POST">
          <button type="submit">As Client</button>
        </form>
      </div>
      <div class="login-buttons">
        <form action="/login/restaurants" method="POST">
          <button type="submit">As Owner</button>
        </form>
      </div>
      <% } %>
    </div>
  </nav>
</header>