<header>
  <nav>
    <div id="logo">
      <a href="/">lightEats</a>
    </div>

    <div id="login-buttons-container">
      <% if (user) { %>
        <p>Welcome <%= user.name %></p>
        <div class="logout-button">
          <form action="/logout/" method="GET">
            <button type="submit" class="logout-btn">Logout</button>
          </form>
        </div>
      <% } else if (rest_id) { %>
        <p>Welcome lightEats</p>
        <div class="logout-button">
          <form action="/logout/" method="GET">
            <button type="submit" class="logout-btn">Logout</button>
          </form>
        </div>
      <% }  else { %>
      <div class="login-buttons">
        <form action="/login/users" method="POST">
          <button type="submit">Client</button>
        </form>
      </div>
      <div class="login-buttons">
        <form action="/login/restaurants" method="POST">
          <button type="submit">Owner</button>
        </form>
      </div>
      <% } %>
    </div>
  </nav>
</header>
