<header>
  <nav>
    <div id="logo">
      <a href="/">   <h1 id = "logo-light-eats">
        <p id = "logo-light">Light &nbsp;</p>
        <p id = "logo-eats">Eats</p>
      </h1>  </a>
    </div>

    <div id="login-buttons-container">
      <% if (user) { %>
        <button ><%= user.name %></button>
        <div class="logout-button">
          <form action="/logout/users" method="POST">
            <button type="submit">Logout</button>
          </form>
        </div>
      <% } else if (rest_id) { %>
        <p>Welcome lightEats</p>
        <div class="logout-button">
          <form action="/logout/restaurants" method="POST">
            <button type="submit">Logout</button>
          </form>
        </div>
      <% }  else { %>
      <div class="login-buttons">
        <form action="/login/users" method="POST">
          <button type="submit">Client</button>
        </form>
      </div>
      <div class="login-buttons">
        <form action="/login/restaurants" method="POST">
          <button type="submit">Owner</button>
        </form>
      </div>
      <% } %>
    </div>
  </nav>
</header>
