<header>
   <h1 id = "logo_light_eats">
      <p id = "logo_light">Light <span id="logo_eats">Eats</span></p>

    </h1>
    <div id = "login_types" class ="login-buttons">
    <% if(!id){ %>
    <div id = "login_user_login_restaurant">
      <button>
        Login As User
      </button>
      <button>
        Login As Restaurant
      </button>
    </div>
   <%} if (id >= 2) {%>
    <div id = "user_logout" class ="login-buttons">
      <button>
        Username
      </button>
      <button>
        Logout
      </button>
    </div>
  <%} %>
  <% if (id === "rest") {%> <!-- id for restaurent -->
    <div id = "restaurant_logout" class ="login-buttons">
      <button>
      </button>
      <button>
        Logout
      </button>
    </div>
    <%} %>
  </div>

</header>
