<header>
   <h1 id = "logo-light-eats">
      <p id = "logo-light">Light<span id="logo-eats">Eats</span></p>

    </h1>
    <div id = "login-types" class ="login-buttons">
    <% if(!id){ %>
    <div id = "login-user-login-restaurant">
      <button>
        <a href = "" >Login As User</a>
      </button>
      <button onclick="location.href='http://localhost:8081/restaurants/1'" type="button">
        Login As Restaurant</button>



    </div>
   <%} if (id >= 2) {%>
    <div id = "user-logout" class ="login-buttons">
      <button>
        Username
      </button>
    </button>
    <button onclick="location.href='http://localhost:8081/'" type="button">
      Logout</button>
    </div>
  <%} %>
  <% if (id === 1) {%> <!-- id for restaurent -->
    <div id = "restaurant-logout" class ="login-buttons">
      <button> Userdfgdfg
      </button>
      <button onclick="location.href='http://localhost:8081/'" type="button">
        Logout</button>
    </div>
    <%} %>
  </div>

</header>
