<header>
    <h1 id = "logo_light_eats">
      <p id = "logo_light">Light</p>
      <p id = "logo_eats">Eats</p>
    </h1>

  <div id = "login_types">
    <div id = "login_user_login_restaurant">
      <button>
        Login As User
      </button>
      <button>
        Login As Restaurant
      </button>
    </div>

    <div id = "user_logout">
      <button>
        Username
      </button>
      <button>
        Logout
      </button>
    </div>

    <div id = "restaurant_logout">
      <button>
        Admin <%= id %>
      </button>
      <button>
        Logout
      </button>
    </div>
  </div>

</header>
