<!DOCTYPE html>
<html lang="en">

<head>
  <title>Your cart</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <link rel="stylesheet" href="/styles/cart.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <div id = "between-head-foot" >

    <h1>Your cart: </h1>

    <div id = "cart-box">
      <div id = "cart-box-item">
        <div id = img-and-name>
          <img src ="https://www.sevensummitscoffee.com/uploads/1/3/1/2/131291290/s598870640510727702_p68_i1_w308.png" alt="img" >
          <p class = "b-desc">Coffee</p>
        </div>
        <div id = "cart-quantity-box">

          <p> price: $2.45</p>
          <p>Quantity:
            <button id = "button-minus">-</button>
            2
            <button id = "button-plus">+</button>
          </p>
        </div>
      </div>
      <div id = "cart-box-item">
        <div id = img-and-name>
          <img src ="https://upload.wikimedia.org/wikipedia/commons/f/f1/2ChocolateChipCookies.jpg" alt="img" >
          <p class = "b-desc">Cookie</p>
        </div>
        <div id = "cart-quantity-box">
          <p> price: $1.50</p>
          <p>Quantity:
            <button id = "button-minus">-</button>
            1
            <button id = "button-plus">+</button>
            <button > name </button>
          </p>
        </div>
      </div>
        <p id = "cart-order-total">Order Total: $10</p>
        <div id = "cart-box-footer">
          <button id = "button-set-add-more"> Add more </button>
          <button id = "button-set-order-time"> Order </button>
        </div>

    </div>
  </div>

  <!-- <%- include('partials/_footer') %> -->
</body>

</html>
