<!DOCTYPE html>
<html lang="en">

<head>
  <title>Your cart</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <link rel="stylesheet" href="/styles/cart.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <h1>This is the cart page </h1>

  <div id = "cart_box">
    <div id = "cart_box_item">
      <div id = img_and_name>
        <img src ="https://www.sevensummitscoffee.com/uploads/1/3/1/2/131291290/s598870640510727702_p68_i1_w308.png" alt="img" >
        <p class = "b_desc">Coffee</p>
      </div>
      <div id = "cart_quantity_box">

        <p> price: $2.45</p>
        <p>Quantity:
          <button id = "button_minus">-</button>
          2
          <button id = "button_plus">+</button>
        </p>
      </div>
    </div>
    <div id = "cart_box_item">
      <div id = img_and_name>
        <img src ="https://upload.wikimedia.org/wikipedia/commons/f/f1/2ChocolateChipCookies.jpg" alt="img" >
        <p class = "b_desc">Cookie</p>
      </div>
      <div id = "cart_quantity_box">
        <p> price: $1.50</p>
        <p>Quantity:
          <button id = "button_minus">-</button>
          1
          <button id = "button_plus">+</button>
          <button > <%= userdata.name %>  </button>
        </p>
      </div>
    </div>



      <p id = "cart_order_total">Order Total: $10</p>

      <div id = "cart_box_footer">
        <button id = "button_set_add_more"> Add more </button>
        <button id = "button_set_order_time"> Order </button>
      </div>

  </div>


  <%- include('partials/_footer') %>
</body>

</html>
