<!DOCTYPE html>
<html lang="en">

<head>
  <title>Your Cart</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
  <link rel="stylesheet" href="/styles/cart.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/quantity.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <div id = "between-head-foot" >

    <div id = "cart-box">
      <h2>Shopping cart: </h2>

      <div id = "cart-box-item">
        <img src ="https://www.sevensummitscoffee.com/uploads/1/3/1/2/131291290/s598870640510727702_p68_i1_w308.png" alt="img" >
        <p class = "b-desc">Coffee</p>
        <div id = "cart-quantity-box">
            <button id = "btn" class="dec">-</button>
            &nbsp;
            <input type="text" id="qty-box" value=1 >
            &nbsp;
            <button id = "btn" class = "inc">+</button>
        </div>
        <div id = "price" >
          <p id = "val1" class = "p-desc">245</p>
        </div>
      </div>
      <% for (let i = 0; i < 2; i++) { %>
        <div id = "cart-box-item">
          <img src ="https://www.sevensummitscoffee.com/uploads/1/3/1/2/131291290/s598870640510727702_p68_i1_w308.png" alt="img" >
          <p class = "b-desc">Coffee</p>
          <div id = "cart-quantity-box">
              <button id = "btn" class="dec<%= i %>">-</button>
              &nbsp;
              <input type="text" id="qty-box" value=1 >
              &nbsp;
              <button id = "btn" class = "inc">+</button>
          </div>
          <div id = "price" >
            <p id = "val1" class = "p-desc">245</p>
          </div>
        </div>
      <% } %>

      <hr>
      <div id = "cart-order-total">
        <p class = "b-desc">Sub-Total: $10.00</p>
      </div>
      <div id = "cart-box-footer">
        <button id = "button-set-add-more"> Add more </button>
        <button id = "button-set-order-time" onclick="location.href='http://localhost:8080/orders/1'" type="button"> Order </button>
      </div>
    </div>
  </div>

  <!-- <%- include('partials/_footer') %> -->
</body>

</html>
