<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/_head") %>
  <title>Home Page</title>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>



<body>
  <%- include("./partials/_header") %>



  
</body>

</html>