$blue1: #0d1321;
$blue2: #1d2d44;
$blue3: #3e5c76;
$blue4: #748cab;
$blue5: #f0ebd8;

body {
  background-color: $blue4;
  color: $blue1;
  padding: 10px;
}

#restaurant_order {
  border: 5px solid $blue2;
  background-color: $blue5;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

#restaurant_orders_box {

  display: flex;

}

#restaurant_tabs {
  visibility: hidden;
  height: 0;
}

.b_desc {
  margin: 0;
  padding-bottom: 3px;
}

#restaurant_order_box_footer {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: inherit;
  justify-content: space-around;
}

#restaurant_footer_new_order {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* hide when time is set
  visibility: hidden;
  height: 0px;
  */
}

#restaurant_order_finished_early {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  visibility: hidden;
  height: 0px;
  /* hide before time is set
  */
}

#restaurant_order_finished_early_on {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

@media all and (max-width: 700px){

  #restaurant_orders_box {
    display: flex;
    flex-direction: column;
  }
}
