$blue1: #0d1321;
$blue2: #1d2d44;
$blue3: #3e5c76;
$blue4: #748cab;
$blue5: #f0ebd8;

body {
  background-color: $blue4;
  color: $blue1;
  padding: 10px;
}

#cart-box {

  border: 5px solid $blue2;
  background-color: $blue5;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 30%;
  width: 300px;
}

#between-head-foot {
  margin-top: 100px;
}

#cart-box-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#img-and-name {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#cart-order-total {
  display: flex;
  justify-content: end;
}

#cart-box-footer {
  display: flex;
  justify-content: space-around;
}

img {
  width: 100px;
}

@media all and (max-width: 700px){

  #cart-box {
    margin: 10px;
  }
}
