$blue1: #0d1321;
$blue2: #1d2d44;
$blue3: #3e5c76;
$blue4: #748cab;
$blue5: #f0ebd8;

body {
  background-color: $blue4;
  color: $blue1;
  padding: 10px;
}

#cart-box {
  border-radius: 20px;
  box-shadow: 0px 5px 55px $blue3;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 25%;
  width: 600px;
  justify-content: space-between;
}

#between-head-foot {
  margin-top: 100px;
}

.cart-box-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

#img-and-name {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cart-item {
  margin: 5px;
}

#cart-quantity-box {
  display: flex;
  align-items: center;
}

.ppi {
  margin: 0;
}

.opt-btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  width: 25px;
  text-align: center;
}

.b-desc {
  font-weight: bold;
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.p-desc {
  font-weight: bold;
  font-size: 22px;
}

.dollar-price-each {
  display: flex;
  align-items: center;
}

.small-text {
  margin: 0;
}

hr {
  width: 70%;
  float: right;
  margin-right: 10px;

}

#cart-order-total {
  display: flex;
  justify-content: end;
  margin-right: 10px;
}

#price {
  display: flex;
  justify-content: end;
  width: 70px;
}

#cart-box-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#button-set-add-more {
  width:100px;
  height:30px;
  border-radius: 8px;
}

#button-set-order-time {
  width:100px;
  height:30px;
  border-radius: 8px;
}


#button-set-order-time:hover {
  background-color: $blue5;
}

img {
  width: 100px;
}

@media all and (max-width: 700px){

  #cart-box {
    margin: 10px;
    width: 400px;
  }

}
