$blue1: #0d1321;
$blue2: #1d2d44;
$blue3: #3e5c76;
$blue4: #748cab;
$blue5: #f0ebd8;

footer p,h6 {
  margin: 0;
  padding: 0;
}

footer {
  margin-top: 10px;
  color: $blue3;
}

#names {
  display: flex;
  padding: 5px;
  justify-content: space-around;
}

#name2 {
  margin-left: 5px;
  margin-right: 5px;
}
