$blue1: #0d1321;
$blue2: #1d2d44;
$blue3: #3e5c76;
$blue4: #748cab;
$blue5: #f0ebd8;

nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
#login-buttons-container {
  display: flex;
  padding-right: 1rem;
}
#login-buttons-container p {
  padding-right: 0.5rem;
}

