$blue1: #0d1321;
$blue2: #1d2d44;
$blue3: #3e5c76;
$blue4: #748cab;
$blue5: #f0ebd8;

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $blue3;
  background-color: $blue2;
  position: Fixed;
  width: 100%;
  padding: 10px;
  top: 0px;
  left: 0px;
  z-index: 2;
  height: 100px;
}

header button {
  margin-right: 10px;
  width:100px;
  height:30px;
  border:none;
  border-radius: 8px;
}

#login-buttons-container {
  display: flex;
}

a {
  text-decoration: none
}

#logo-light-eats {
  display: flex;
  padding-right: 1rem;
}

#logo-light {
  color: $blue5;
}

#logo-eats {
  color: $blue1;
}

#login-types {
  display: flex;
  align-items: center;
}

#login-user-login-restaurant {
  /*
  visibility: hidden;
  width: 0;
  height: 0;
  */
}

#user-logout {
  /*
  visibility: hidden;
  width: 0;
  height: 0;
  */
}

#restaurant-logout {
  /*
  visibility: hidden;
  width: 0;
  height: 0;
  */
}

header button:hover {
  background-color: $blue5;
}
