$blue1: #0d1321;
$blue2: #1d2d44;
$blue3: #3e5c76;
$blue4: #748cab;
$blue5: #f0ebd8;

header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  color: $blue3;
}

#logo_light_eats {
  display: flex;
  align-items: center;
  margin: 0px;
  height: 75px
}

#logo_light {
  color: $blue5;
}

#logo_eats {
  color: $blue2;
}

#login_types {
  display: flex;
  align-items: center;
}

#login_user_login_restaurant {

  visibility: hidden;
  width: 0;
  height: 0;
  /*
  */
}

#user_logout {
  visibility: hidden;
  width: 0;
  height: 0;
  /*
  */
}

#restaurant_logout {
  /*
  visibility: hidden;
  width: 0;
  height: 0;
  */

}
