$blue1: #0d1321;
$blue2: #1d2d44;
$blue3: #3e5c76;
$blue4: #748cab;
$blue5: #f0ebd8;

#hero-img {
  background-image: url("https://previews.123rf.com/images/nadiinko/nadiinko1704/nadiinko170400008/75620611-mod%C3%A8le-sans-couture-de-boulangerie-fond-de-vecteur-de-nourriture-de-couleur-beige-ic%C3%B4nes-de-fine-lig.jpg");
  height: 200px;
  margin-top: 100px;
  background-repeat: repeat-x;
  background-size: 20vh;
}

#rest-info {
  color: $blue2;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#rest-info h2 {
  background-color: #FFFFFFB0;
  width: 220px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
}

ul {
  width: 200px;
  align-self: self-end;
  margin-right: 10px;
  margin-bottom: 35px;
}

#rest-info ul {
  list-style-type: none;
  padding: 0 0 5px 0;
}

#rest-info li {
  text-align: right;
  padding-right: 20px;
  background-color: #FFFFFFB0;
}

body {
  background: $blue5;
  background-image: url(/images/junk.png);
  background-size: 100%
}

#menu-list {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-left: 25%;
  padding: 5px;
  padding-bottom: 0;
  background: white;
  border-radius: 25px;
  box-shadow: 0px 5px 25px #3e5c76;
  margin-bottom: 70px;
}

.item-and-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.b-desc {
  font-weight: bold;
  font-size: 26px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.items {
  display: flex;
  clear: left;
  height: 125px;
  border-radius: 10px;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.hide {
  display: none;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
  width: 75%;
  margin: 0;
  align-self: center;
}

.btn-add:hover {
  background-color: $blue4;
}


.items-img {
  width: 150px;
  height: -webkit-fill-available;
}

.price-plus {
  display: flex;
  width: 175px;
  justify-content: space-between;
}

.items-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cart-summary {
  background-color: $blue5;
  border: 1px solid $blue3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  width: 68%;
}

#orders {
  background-color: $blue5;
  border: 1px solid $blue3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 1rem;
  width: 28%;
}

#cart-summary p {
  margin: 0;
  font-size: larger;
}

#orders-btn-container {
  display: flex;
  justify-content: space-around;
  margin-left: 25%;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 600px;
}

.foot-btn {
  border: 0;
  background: transparent;
}

#total-price-index {
  width: 50px;
}

@media all and (max-width: 850px){
  #menu-list {
    width: 400px;
  }

  #orders-btn-container {
    width: 400px;
  }

  .b-desc {
    font-weight: bold;
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
