$blue1: #0d1321;
$blue2: #1d2d44;
$blue3: #3e5c76;
$blue4: #748cab;
$blue5: #f0ebd8;

#hero-img img {
  height: 20vh;
  width: 100%;
}

#rest-info {
  height: 20 vh;
  background: $blue4;
  color: $blue2;
}
#rest-info h2 {
  margin-bottom: 0;
}
#rest-info ul {
  list-style-type: none;
  padding: 0 0 5px 0;
  margin-bottom: 0;
}
#rest-info li {
  text-align: right;
  padding-right: 20px;
}

.items {
  border: 1px solid $blue2;
  clear: left;
  height: 20vh;
  border-radius: 10px;
  position: relative;
}
.items-img {
  float: left;
  height: 90%;
  width: 40%;
  padding-right: 1rem;
  border-radius: 10%;
}
.items-name {
  padding-top: 5vh;
}
.items-add {
  position: absolute;
  right: 2rem;
  top: 7vh;
}

#cart-summary {
  border: 1px solid $blue3;
  background-color: $blue4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
}
#cart-summary p {
  margin: 0;
  font-size: larger;
}

