$blue1: #0d1321;
$blue2: #1d2d44;
$blue3: #3e5c76;
$blue4: #748cab;
$blue5: #f0ebd8;

body {
background-color: $blue4;
}
main {
display: flex;
flex-direction: column;
}
#orders-body-container{
  margin-top:100px;
}

#orders-body-container {
  margin-left:50px;
}
#order-status-buttons {
  display:flex;
  justify-content:flex-start;
}

 #order-status-buttons {
   button {
    margin-right: 50px;
    width:100px;
    height:30px;
    border:none;
    border-radius: 8px;
   }
 }

 #order-boxes {
    display:grid;
    grid-gap:23px;
    grid-template-columns: repeat(auto-fill,minmax(340px,1fr));
   margin-top: 10px;
 }
 #single-order-desc {
   display: flex;
   flex-direction: column;
  justify-content: space-between;
  padding-top:15px ;
  overflow: auto;
  margin-right:30px;
  margin-top:15px;
  border:solid 4px $blue1;
  padding-left:10px;
  padding-bottom: 5px;
  background-color: $blue5;
  max-width:340px;
  height:370px;
 }
 .b-desc {
   margin: 5px;
   display:flex;
   justify-content: space-between;
 }

  #customer-order-status{

    background-color: white;
    display:block;
    text-align: center;
    font-size:1.5em;
    height:30px;
    margin-left:15px;
    margin-right: 30px;
    border-radius: 3px;
    margin-bottom: 15px;
    margin-top: 1px;
 }

 #left-place {
  margin-right: 15px;

 }
 #order-total {
   justify-self: flex-end;
   display:flex;
   justify-content: flex-end;
 }
 #very-last-item {


 }




@media screen and (max-width: 700px){

  #order-status-buttons {

    justify-content:flex-start;
  }

}



