$blue1: #0d1321;
$blue2: #1d2d44;
$blue3: #3e5c76;
$blue4: #748cab;
$blue5: #f0ebd8;

body {
display: block;
background-color: $blue4;

}
main {
display: flex;
flex-direction: column;
}
main {
  button {
    font-size: 20px;
    margin-right: 10px;
    width:100px;
    height:30px;
    border:none;
    border-radius: 8px;
  }
}
header {
  background-color: $blue1;
  display:flex;
  justify-content: space-between;
  position: Fixed;
  width:100%;
  height:15%

}
#logo_light_eats {
 padding:10px;
}
#logo_light{
 color: $blue3;
}
#logo_eats{
 color: $blue5;
}
#login_types{
 padding-top: 60px;
 padding-right:60px;
}
#login-types {
  button {
  margin-right: 40px;
  width:100px;
  height:30px;
  border:none;
  border-radius: 8px;
  }
}
#orders-body-container{
  margin-top:150px;
}

#orders-body-container {
  position:relative;
  margin-left:50px;
}
#order-status-buttons {
  display:flex;
  justify-content:flex-start;

}

 #order-status-buttons {
   button {
    margin-right: 50px;
    width:100px;
    height:30px;
    border:none;
    border-radius: 8px;
   }
 }

 #order-boxes {
   display:flex;
   margin-top: 10px;
 }
 #single-order-desc {
  margin-right:30px;
  margin-top:15px;
  border:solid 4px $blue1;
  padding-left:10px;
  padding-bottom: 5px;
  background-color: $blue5;
  width:300px;
  height:auto;
 }

 .b-desc {
   margin: 5px;
 }

  #customer-order-status{

    background-color: white;
    display:block;
    text-align: center;
    font-size:1.5em;
    height:30px;
    margin-left:15px;
    margin-right: 30px;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-top: 5px;
 }




@media screen and (max-width: 700px){

  #order-status-buttons {

    justify-content:flex-start;
  }

}



