$blue1: #0d1321;
$blue2: #1d2d44;
$blue3: #3e5c76;
$blue4: #748cab;
$blue5: #f0ebd8;

body {
  background: $blue5;
  background-image: url(/images/junk.png);
  background-size: 100%
}

.orders-body-container{
  margin-top:100px;
}

.orders-body-container {
  margin-top:140px;
  margin-left:50px;
  margin-right:20px;
  display:grid;
}

.order-status-buttons {
  display:flex;
  justify-content:flex-start;
  margin-bottom: 20px;
}

.order-status-buttons button {
  margin-right: 45px;
  margin-left: 5px;
  font-size: 24px;
  width: 250px;
  background-color: white;
  box-shadow: 0px 3px 10px $blue4;
}

button:hover {
  background-color: lightgrey;
}

.items-desc {
  padding: 10px;
}

.order-boxes {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(297px, 1px));
  margin-top: 10px;
}

.single-order-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top:15px ;
  overflow: auto;
  margin-top:15px;
  padding: 10px;
  max-width:270px;
  height:400px;
  background: white;
  border-radius: 25px;
  box-shadow: 0px 5px 25px #3e5c76;
}

.b-desc {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

.customer-order-status{
  width:220px;
  font-size : 22px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.left-place {
  margin-right: 15px;
}

.order-total {
  justify-self: flex-end;
  display:flex;
  justify-content: flex-end;
}

.very-last-item {
  font-size: 1.2em;
  font-weight: bold;
}

#customer-order-status-label{
  color: $blue1;
  background-color: lightgrey;
  display:block;
  text-align: center;
  font-size:22px;
  height:30px;
  border-radius: 3px;
  margin-bottom: 15px;
  margin-top: 1px;
  width: 95%;
}

.btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: rgb(201, 200, 200);
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin: 0;
}

.a {
  font-size: 1.2em;
}

.order-id{
  visibility: hidden;
  width:0;
}

.qty-box {
  width: 25px;
  padding: 2px;
  text-align: center;
  margin-left: 6px;
  margin-right: 6px;
}

form {
  display: flex;
  align-items: center;
}

.btn-status {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-set-order-time{
  border-radius: 7px;
  font-size: 13px;
}

@media screen and (max-width: 700px){
  #order-status-buttons {
    justify-content:flex-start;
  }
}
