$blue1: #0d1321;
$blue2: #1d2d44;
$blue3: #3e5c76;
$blue4: #748cab;
$blue5: #f0ebd8;

body {
  background-color: $blue4;
  color: $blue1;
  padding: 10px;
}

#between-head-foot {
  margin-top: 100px;
}

#restaurant-order {
  border: 5px solid $blue2;
  background-color: $blue5;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  width: 300px;
}

#restaurant-orders-box {

  display: flex;

}

#restaurant-tabs {
  visibility: hidden;
  height: 0;
}

.b-desc {
  margin: 0;
  padding-bottom: 3px;
}

#btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#qty-box {
  width: 20px;
}

#set-time {
  display: flex;
  align-items: center;
}

#restaurant-order-box-footer {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: inherit;
  justify-content: space-around;
}

#restaurant-footer-new-order {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* hide when time is set
  visibility: hidden;
  height: 0px;
  */
}

#restaurant-order-finished-early {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  visibility: hidden;
  height: 0px;
  /* hide before time is set
  */
}

#restaurant-order-finished-early-on {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

@media all and (max-width: 700px){

  #restaurant-orders-box {
    display: flex;
    flex-direction: column;
  }
}
